body {
    text-align: center;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    user-select: none;
}

h1 {
    margin: auto;
    margin-top: 30px;
    color: bisque;
    font-size: 15px;
}

#container {

    margin: auto;
    margin-top: 200px;
    height: 100px;
    width:500px;
    background-color: maroon;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
    letter-spacing: 3px;
    font-weight:bold;
}

button {
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}
